body {
    text-align: center;
    background: #d2d2c1 url('img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

div#principal {
    margin: auto;
    width: 900px;
}

div#menu {
    background: #c5c5b2;
    padding: 18px;
}

div#conteudo {
    background: #e8e8d9;
    padding: 10px;
}
a {
    color: #4b566a;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

p {
    text-align: justify;
    padding: 10px;
}

img.fotosCampnha {
    border: 10px solid #c3c3ae;
}