*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

#cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo{
    padding: 10px;
}

#menu{
    padding: 10px;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #F7b600;
}

a:hover{
    text-decoration: underline;
}
#menu a:link, #menu a:visited{
    color: #fff;
    padding: 8px 12px;
}

#menu a:hover{
    color: #F7b600;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

#logo h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

#logo span.branco{
    color: #fff;
}

#principal{
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#postagens{
    width: 660px;
}

.postagem{
    padding: 15px;
    background: #fff;
}

.postagem h2{
    color: #f7b600;
}

.dataPostagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
}

.postagem img{
    padding-top: 10px;
}

#lateral{
    width: 240px;
}

.conteudoLateral{
    background: #fff;
    padding: 10px;
    margin-bottom: 20pxx;
}

.conteudoLateral h3{
    color: #565656;
    background: #ccc;
    text-align: center;
    padding: 5px;
}

.textoLateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#rodape{
    background: #ccc;
    width: 920px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}